html {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.col {
    margin: 0;
}

.row {
    margin: 0;
    padding: 0 64px;
}

p {
    font-size: 16px;
}

.navbar {
    height: 75px;
    background-color: white !important;
    padding: 16px 32px;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.nav-link {
    background-color: white;
    padding: 12px !important;
}

.active {
    color: red !important;
}

#header-image {
    height: 550px;
    background-color: gray;
}

#header-image h1 {
    font-weight: bold;
    padding-top: 205px;
}

.a-button {
    padding: 10px 16px;
    background-color: white;
    color: black;
}

.a-button:hover {
    text-decoration: none;
    color: gray;
}

#sectionTwo {
    background-color: gray;
    padding-top: 6em;
    padding-bottom: 6em;
}

footer {
    background-color: black;
    color: white;
}

footer ul {
    list-style-type: none;
    padding: 0px;
}

footer a{
    color: white;
    transition: all 200ms ease-in-out;
}

footer a:hover {
    text-decoration: none;
    color: gray;
}

.socialLink {
    padding-right: 16px;
    font-size: 24px;
}
@media (max-width: 991px) {
    .navbar {
        height: auto;
    }
    .navbar-brand {
        padding: 12px;
    }
    
    .navbar-toggler {
        margin-right: 12px;
    }
    
    .nav-link {
        background-color: white;
        padding: 12px !important;
    }   
}